:root {
  --color-primary: #123c69;
  --color-secondary: #fff;
  --color-tetrinary: #c0c0c0;
  --color-quarterly: #f0f0f0;
  --color-extra: #fafcfb;
  --font-raleway: "Raleway", Arial, Helvetica, sans-serif;
  --font-lato: "Lato", Arial, Helvetica, sans-serif;
}
html {
  margin: 0;
  font-size: 62.5%;
}
body {
  margin: 0;
  height: 500vh;
  background: url(Images/Backgrounds/Scattered-Forcefields.svg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway);
}
.site_wrapper {
  height: 400vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* NavBar */
.navbar {
  background: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99;
}
.logo {
  width: 2.5rem;
  height: auto;
}
.nav__list {
  margin: 0;
  padding: 0;
}
.nav__list li {
  display: inline;
  color: var(--color-primary);
  margin-right: 2.5rem;
}
.nav__list a {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-family: var(--font-raleway);
  font-weight: 700;
  text-decoration: none;
}
/* Hero */
.hero {
  width: 100vw;
  height: 50vh;
  background: url(Images/Backgrounds/Simple\ Shiny\(375.svg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hero__heading {
  color: var(--color-quarterly);
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: 1.8rem;
  text-shadow: var(--color-tetrinary) 0 0 4px;
}
.hero__subtext {
  color: var(--color-tetrinary);
  font-family: var(--font-lato);
  font-size: 1.3rem;
}
/* Crypto Chart */
.cryptoChart {
  width: 100vw;
  height: 50vh;
  display: none;
}
/* About Us */
.about_us {
  width: 100vw;
  height: 300vh;
  text-align: center;
  color: grey;
  font-family: var(--font-lato);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about_us_text {
  height: auto;
}
.about_us h2 {
  color: black;
  font-family: var(--font-raleway);
  font-size: 1.8rem;
  text-decoration: underline;
}
.abt_us_paragraph {
  display: inline-block;
  background: white;
  width: 47ch;
  height: auto;
  line-height: 2.2rem;
  text-align: justify;
}
/* Cards */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250vh;
}
.card {
  width: 30rem;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px 6px #c0c0c0;
  box-shadow: 0px 0px 10px 6px #c0c0c0;
  background: var(--color-secondary);
}
.card_img {
  width: 20rem;
  height: auto;
  padding-top: 1rem;
  border-radius: 100%;
}
.card_top {
  height: auto;
  font-family: var(--font-raleway);
  font-weight: 700;
  padding: 2.5rem 1.5rem 0.2rem 1.5rem;
  color: black;
}
.card_bottom {
  width: 30rem;
  background: white;
  color: grey;
  font-family: var(--font-lato);
  font-weight: 600;
  display: inline-block;
}
.card_bottom p {
  padding: 1.5rem;
  text-align: justify;
}
/* Contact Us */
.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}
.contact_us h3 {
  background: white;
}
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 27rem;
  background: white;
}
.group {
  display: inline-block;
}
.group label {
  font-size: 1.2rem;
  color: gray;
  font-family: var(--font-lato);
}
.group #E-Mail {
  width: 27rem;
}
.flex-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.group button {
  background: var(--color-primary);
  border-color: var(--color-primary);
  width: 27rem;
}
