* {
  box-sizing: border-box;
}
:root {
  --color-primary: #123c69;
  --color-secondary: #fff;
  --color-tetrinary: #c0c0c0;
  --color-quarterly: #f0f0f0;
  --color-extra: #fafcfb;
  --font-raleway: "Raleway", Arial, Helvetica, sans-serif;
  --font-lato: "Lato", Arial, Helvetica, sans-serif;
}
html {
  margin: 0;
  font-size: 62.5%;
}
body {
  margin: 0;
  height: 500vh;
  background: url(Images/Backgrounds/Scattered-Forcefields.svg);
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-raleway) !important;
}
.cards1 {
  display: none;
}
.site_wrapper {
  height: 400vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: none;
}
/* NavBar */
.navbar {
  background: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99;
}
.logo {
  width: 2.5rem;
  padding-left: 0.5rem;
  height: auto;
  padding-top: 0.5rem;
}
.nav__list {
  margin: 0;
  padding: 0;
}
.nav__list li {
  display: inline;
  color: var(--color-primary);
  margin-right: 2.5rem;
}
.nav__list a {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-family: var(--font-raleway);
  font-weight: 700;
  text-decoration: none;
}
/* Hero */
.hero {
  width: 100%;
  height: 50vh;
  background: url(Images/Backgrounds/Simple\ Shiny\(400.svg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hero__heading {
  color: var(--color-quarterly);
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: 1.8rem;
  text-shadow: var(--color-tetrinary) 0 0 4px;
}
.hero__subtext {
  color: var(--color-tetrinary);
  font-family: var(--font-lato);
  font-size: 1.3rem;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__wrapper img {
  width: 10rem;
  height: auto;
}
/* Crypto Chart */
.cryptoChart {
  width: 100vw;
  height: 50vh;
  display: none;
}
/* About Us */
.about_us {
  width: 100vw;
  height: 300vh;
  text-align: center;
  color: grey;
  font-family: var(--font-lato);
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about_us_text {
  height: auto;
}
.about_us h2 {
  color: black;
  font-family: var(--font-raleway);
  font-size: 1.8rem;
  text-decoration: underline;
}
.abt_us_paragraph {
  display: inline-block;
  background: white;
  width: 47ch;
  height: auto;
  line-height: 2.2rem;
  text-align: justify;
}
/* Cards */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250vh;
}
.card {
  width: 30rem;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px 6px #c0c0c0;
  box-shadow: 0px 0px 10px 6px #c0c0c0;
  background: var(--color-secondary);
}
.card_img {
  width: 20rem;
  height: auto;
  padding-top: 1rem;
  border-radius: 100%;
}
.card_top {
  height: auto;
  font-family: var(--font-raleway);
  font-weight: 700;
  padding: 2.5rem 1.5rem 0.2rem 1.5rem;
  color: black;
}
.card_bottom {
  width: 30rem;
  background: white;
  color: grey;
  font-family: var(--font-lato);
  font-weight: 600;
  display: inline-block;
}
.bottom_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200%;
}
.card_bottom p {
  padding: 1.5rem;
  text-align: justify;
}
.card_bottom a img {
  width: 4rem;
  height: 4rem;
  padding-left: 1rem;
}
.link_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* Contact Us */
.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  margin-bottom: 20rem;
}
.contact_us h3 {
  background: white;
}
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 27rem;
  background: white;
}
.group {
  display: inline-block;
}
.group label {
  font-size: 1.2rem;
  color: gray;
  font-family: var(--font-lato);
}
.group #E-Mail {
  width: 27rem;
}
.flex-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.group button {
  background: var(--color-primary);
  border-color: var(--color-primary);
  width: 27rem;
}
/* Footer */
footer {
  background: url(images/Backgrounds/Stacked\ Wave.svg);
  height: 20rem;
  width: 100%;
  text-align: justify;
}
footer a {
  color: var(--color-primary);
}

/* Responsive */
@media screen and (min-width: 280px) {
  .navbar a {
    font-size: 0.9rem;
  }
  .nav__list li {
    margin-right: 1.5rem;
  }
  .site_wrapper {
    align-items: center;
    height: 500vh;
  }
  body {
    height: 578.5vh;
  }
  .about_us {
    height: 450vh;
    transform: scale(0.75);
  }
  .cards {
    height: 450vh;
    transform: scale(0.9);
  }
  .contact_us {
    transform: scale(0.85);
  }
  footer {
    font-size: 1.2rem;
    color: var(--color-secondary);
    padding-left: 0.4rem;
  }
  footer h4 {
    font-size: 1.8rem;
    color: var(--color-quarterly);
  }
}
@media screen and (min-width: 360px) {
  .hero__wrapper img {
    width: 8rem;
  }
  .about_us {
    transform: scale(0.8);
  }
}
@media screen and (min-width: 375px) {
  .hero {
    background: url(images/Backgrounds/Simple\ Shiny\(400.svg);
  }
  .about_us {
    transform: scale(0.9);
  }
  .abt_us_paragraph {
    font-size: 1.45rem;
  }
  .cards {
    transform: scale(1);
    justify-content: space-evenly;
  }
  .contact_us {
    transform: scale(1);
  }
  .nav__list a {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 411px) {
  .abt_us_paragraph {
    font-size: 1.5rem;
  }
  .nav__list a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 415px) {
  .hero {
    background: url(images/Backgrounds/Simple\ Shiny\(540.svg);
  }
}
@media screen and (min-width: 500px) {
  .abt_us_paragraph {
    font-size: 1.8rem;
    margin-bottom: 20rem;
  }
  .cards {
    transform: scale(1.1);
  }
  .contact_form {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 541px) {
  .hero {
    background: url(images/Backgrounds/Simple\ Shiny\(768.svg);
  }
  .hero__wrapper img,
  .hero__wrapper .hero__heading,
  .hero__wrapper .hero__subtext {
    transform: scale(1.5);
  }
  .hero__wrapper img {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 720px) {
  .about_us_text {
    transform: scale(1.2);
  }
  #theh2 {
    font-size: 2.5rem;
  }
  .hero__wrapper img,
  .hero__wrapper .hero__heading,
  .hero__wrapper .hero__subtext {
    transform: scale(1.4);
  }
  .hero__wrapper img {
    margin-bottom: 5rem;
  }

  .cards {
    justify-content: space-between;
    align-items: center;
    height: 250vh;
  }
  .logo {
    width: 3.5rem;
  }
}
@media screen and (min-width: 768px) {
  .about_us_text {
    transform: scale(1.5);
  }

  .cards {
    width: 100vw;
    height: 200vh;
    transform: scale(1.4);
    margin-bottom: 40rem;
    margin-top: 40rem;
  }
  footer {
    margin-top: 20rem;
    font-size: 2rem;
  }
  footer h4 {
    font-size: 2.8rem;
  }
  .nav__list a {
    font-size: 2rem;
  }
  .hero__wrapper img,
  .hero__wrapper .hero__heading,
  .hero__wrapper .hero__subtext {
    transform: scale(1.4);
  }
  .hero__wrapper img {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background: url(images/Backgrounds/Simple\ Shiny\(1024.svg);
  }
  .logo {
    width: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .about_us {
    height: auto;
  }

  .cards {
    display: none;
  }
  .cards1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: scale(1);
    width: 100vw;
    height: auto;
    margin-top: 10rem;
  }
  .about_us {
    margin-bottom: 10rem;
  }
  .contact_us {
    margin: 0;
  }
  .contact_form {
    transform: scale(1.5);
  }
  footer {
    margin: 0;
  }
  body {
    height: 400vh;
  }
  .site_wrapper {
    height: 400vh;
    justify-content: center;
  }
  .nav__list li {
    margin-right: 2.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .hero {
    background: url(images/Backgrounds/Simple\ Shiny\(1440.svg);
  }
}
